<mat-toolbar>
  <img class="margen-izquierdo logo-principal" src="../assets/mi-dvd-logos-web.png">
  <span class="fill-context"></span>
  <global-message class="boton-right"></global-message>
  <winButtons class="top-top-right" (close)="wbutton(serv.close)" (minimize)="wbutton(serv.mini)"></winButtons>
</mat-toolbar>
<waitingBar></waitingBar>
<div class="path grupo-flex linea no-wrap">
  <folder path="path" icon="desktop-classic" (selected)="changepath(null)"></folder>
  <folder [path]="path" *ngFor="let path of pathFolders" (selected)="changepath($event)"></folder>
</div>
<div class="grupo-flex linea no-wrap spaced1">
  <div class="fill-context">
    <div *ngFor="let folder of folders" class="folder">
      <h4>{{folder}}</h4>
    </div>
  </div>
  <div class="meta-data-folder">
    <img class="meta-data-imagen" src="../assets/mi-dvd-logos-web.png">
    <mat-form-field class="fill-context">
      <input matInput placeholder="Titulo" required [(ngModel)]="datos.titulo">
    </mat-form-field>

    <mat-expansion-panel #tagsPanel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Tags
      </mat-panel-title>
      <mat-panel-description>
        <mat-chip-list>
        <mat-chip *ngFor="let tag of datos.tags; index as i" (click)="setTag(tag, tagsPanel.expanded)">
          {{tag}}
        </mat-chip>
        </mat-chip-list>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="fill-context">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags|async|otoa:{purgeKey:true}"(click)="setTag(tag.value, true)">
          {{tag.value}}
        </mat-chip>
        <input placeholder="All Tags"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="true"
             (matChipInputTokenEnd)="pushTag($event)" />
      </mat-chip-list>
      </mat-form-field>
    </mat-expansion-panel>
  </div>
</div>
