<mat-toolbar>
  <img class="margen-izquierdo logo-principal" src="../assets/mi-dvd-logo.png">
  <span class="fill-context"></span>
  <global-message class="boton-right"></global-message>
  <winButtons class="top-top-right" (close)="wbutton(serv.close)" (minimize)="wbutton(serv.mini)"></winButtons>
</mat-toolbar>
<waitingBar></waitingBar>
<div class="desactivable scroll fullHeight" [ngClass]="{disableddiv:w.State}">
  <path></path>
  <div class="separador-horizontal"></div>
	<div class="grupo-flex linea no-wrap full-content mat-typography color-primario fullHeight">
    <folders class="fill-context"></folders>
    <div class="separador-vertical"></div>
    <meta-data class="meta-data"></meta-data>
	</div>
</div>
