<div class="cuerpo">
  <img class="meta-data-imagen" src="./assets/mi-dvd-logo.png">

  <mat-form-field class="fill-context">
    <input matInput placeholder="Titulo" required [(ngModel)]="datos.titulo">
  </mat-form-field>

  <mat-expansion-panel #tagsPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>Tags</mat-panel-title>
      <mat-panel-description>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of datos.tags; index as i" (click)="setTag(tag, tagsPanel.expanded)">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="fill-context">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags|async|otoa:{purgeKey:true}"(click)="setTag(tag.value, true)">
        {{tag.value}}
      </mat-chip>
      <input placeholder="All Tags"
         [matChipInputFor]="chipList"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
         matChipInputAddOnBlur="true"
         (matChipInputTokenEnd)="pushTag($event)" />
      </mat-chip-list>
    </mat-form-field>
  </mat-expansion-panel>
</div>
